<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#inicio" class=" hover:text-gray-700">Inicio</a>
        <a href="#experiencia" class=" hover:text-gray-700">Experiencia</a>
        <a href="#proyectos" class=" hover:text-gray-700">Proyectos</a>
        <a href="#sobre-mi" class="hover:text-gray-700" >Sobre mi</a>
        <a href="#contacto" class="hover:text-gray-700" >Contacto</a>
    </nav>
</header>