---
import Badge from "./Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "./icons/SocialPill.astro";
import GitHubIcon from "./icons/GitHub.astro";
import MailIcon from './icons/Mail.astro'
import Experiencie from "./Experiencie.astro";
import SectionContainer from "./SectionContainer.astro";
import Briefcase from "./icons/Briefcase.astro";
---

<div id="container">
  <main>
    <SectionContainer class="py-44 pb-20">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy Lautaro <a
          href="https://www.linkedin.com/in/lautarov-dev/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span>+2 años de experiencia.</span><span class="text-yellow-200/90">
          Desarrollador Web.</span
        >
        <span class="text-red-200/90">De Buenos Aires, Argentina 🇦🇷.</span><span
          class="opacity-75"
        >
          Especializado en crear aplicaciones únicas.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-8">
          <SocialPill href="https://www.linkedin.com/in/lautarov-dev/">
            <LinkedInIcon class="size-6" />
            Linkedin
          </SocialPill>
		  <SocialPill href="https://github.com/lautaroVal">
            <GitHubIcon class="size-6" />
            GitHub
          </SocialPill>
		  <SocialPill href="">
            <MailIcon class="size-6" />
            lautarosval@gmail.com
          </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experiencie />
    </SectionContainer>
  </main>
</div>
