---
import AboutMe from "@/components/AboutMe.astro";
import Badge from "@/components/Badge.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experiencie from "@/components/Experiencie.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from '@/components/icons/Mail.astro'
import ProfileCheck from "@/components/icons/Profile.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/icons/SocialPill.astro";
---

<div id="container">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
        <img 
        class="rounded-full size-12 mb-4" 
        src="src/assets/lau-dev.png" 
        alt="lautaro dev photo">
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hola, soy Lautaro <a
          href="https://www.linkedin.com/in/lautarov-dev/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
          ><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-90 text-wrap max-w-[700px]">
        <span>+2 años de experiencia.</span><span class="text-yellow-200/90">
          Desarrollador Web.</span
        >
        <span class="text-red-200/90">De Buenos Aires, Argentina 🇦🇷.</span><span
          class="opacity-75"
        >
          Especializado en crear aplicaciones únicas.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/lautarov-dev/">
            <LinkedInIcon class="size-4 md:size-6" />
            Linkedin
          </SocialPill>
		  <SocialPill href="https://github.com/lautaroVal">
            <GitHubIcon class="size-4 md:size-6" />
            GitHub
          </SocialPill>
		  <SocialPill href="mailto:lautarosval@gmail.com">
            <MailIcon class="size-4 md:size-6" />
            lautarosval@gmail.com
          </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experiencie />
    </SectionContainer>

    
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProfileCheck class="size-7" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</div>
